install/MSVC/amd64/*
install/MSVC/i386/*
install/MSVC/arm64/*
!install/MSVC/amd64/WinDivert.dll
!install/MSVC/amd64/WinDivert.lib
!install/MSVC/amd64/WinDivert64.sys
!install/MSVC/i386/WinDivert.dll
!install/MSVC/i386/WinDivert.lib
!install/MSVC/i386/WinDivert32.sys

.vs/
x64/
sys/windivert_log.h
sys/windivert_log.rc
sys/windivert_log_MSG00001.bin
